
#TG
TOKEN=YOUR_BOT_TOKEN
BOT_NAME=YOUR_BOT_NAME
BOT_VER=1.0.0

#POSTGRES
PG_USER=USER
PG_PASS=PASSWORD
PG_DB=MYDB
PG_HOST=localhost
PG_PORT=5432

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASS=PASS
