#Settings
TOKEN=YOUR_BOT_TOKEN
BOT_NAME=YOUR_BOT_NAME
BOT_VER=1.0.0
NOT_VER=1.0.0
ENV=local

#PostgreSQL
PG_USER=USER
PG_PASS=PASSWORD
PG_DB=MYDB
PG_PORT=5432

#Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASS=PASS

#RabbitMQ
RMQ_PASS=guest
RMQ_USER=guest

#gRpc Port
GRPC_PORT=:50001